// -------------------------------------------
// 新的设计规范中的 token 定义
//背景色
@color-fill-primary: #1677ff; //主色
@color-fill-primary-light: #e7f1ff; //主色-浅
@color-fill-warning: #ff3b30; //警告色
@color-fill-grey-base: #ccc; //灰阶基础
@color-fill-grey-dark: #333; //灰阶-深
@color-fill-grey-light: #f5f5f5; //灰阶-浅
@color-fill-grey-inverse: #fff; //灰阶-反色
@color-divider-line: rgba(0, 0, 0, 0.08); //分割线
@color-divider-background: rgba(0, 0, 0, 0.05); //分隔背景
@color-product-mask: rgba(0, 0, 0, 0.75); //产品蒙层
@color-marketing-mask: rgba(0, 0, 0, 0.5); //营销蒙层

//文字色
@color-text-primary: #1677ff; //主色
@color-text-primary-light: #e7f1ff; //主色-浅
@color-text-warning: #ff3b30; //警告色
@color-text-title: #333; //主标题
@color-text-subtitle: #999; //副标题
@color-text-weak: #ccc; //弱文案
@color-text-base: #fff; //基础色

//不透明度
@opacity-disabled: 0.4; //不透明度

//字体字号
@font-size-stress: 54px; //页面核心强调
@font-size-title: 36px; //大标题
@font-size-list: 34px; //列表
@font-size-subtitle: 30px; //小标题
@font-size-content: 26px; //常规内容
@font-size-subcontent: 24px; //次常规内容
@font-size-weak: 22px; //弱化内容和弱辅助文案

//数字(数字常规字号跟文字一样，以下为特殊场景使用)
@font-family-alipay-number: DIN PRO;
@font-size-amount-core: 110px; //核心大金额
@font-size-amount-largenumber: 90px; //大数字金额
@font-size-amount-large: 60px; //大金额
@font-size-number-keyboard: 50px; //数字键盘

//行高
@line-height-base: 1; // 单行行高
@line-height-paragraph: 1.5; // 多行行高

//圆角
@corner-radius-sm: 4px; //小
@corner-radius-md: 8px; //中
@corner-radius-lg: 16px; //大
@corner-radius-circle: 50%; //圆

//尺寸
@size-base: 8px; //基础
@size-0: 0;
@size-1: @size-base * 1;
@size-2: @size-base * 2;
@size-3: @size-base * 3;
@size-4: @size-base * 4;
@size-5: @size-base * 5;
@size-6: @size-base * 6;
@size-7: @size-base * 7;
@size-8: @size-base * 8;
@size-9: @size-base * 9;
@size-10: @size-base * 10;
@size-11: @size-base * 11;
@size-12: @size-base * 12;
@size-13: @size-base * 13;
@size-14: @size-base * 14;
@size-15: @size-base * 15;
@size-16: @size-base * 16;
@size-17: @size-base * 17;
@size-18: @size-base * 18;
@size-19: @size-base * 19;
@size-20: @size-base * 20;

//间距
//水平间距
@h-spacing-standard: 16px; //标准
@h-spacing-large: 24px; //大间距

//垂直间距
@v-spacing-standard: 16px; //标准
@v-spacing-large: 24px; //大间距

//边框尺寸
@border-width-standard: 1px; //标注
@border-width-thick: 2px; //粗

//图标尺寸
@icon-size-sm: 44px; //小
@icon-size-md: 56px; //中
@icon-size-lg: 60px; //大
