@import (reference) "../style/themes/default.less";

.am-loading {
  width: 100px;
  height: 100px;
  // background-image: url('https://gw.alipayobjects.com/zos/basement_prod/4ca4bbdf-cb5e-44b1-bdb5-249a012571a2.svg?20200103.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
