@import (reference) "../style/themes/default.less";

.am-loading {
  width: 200 * @pixelSize;
  height: 200 * @pixelSize;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
