// 设计标注的尺寸是 750px 下的 2x 尺寸，正常使用都需要除以 2
@pixelSize: 0.5;

// -------------------------------------------
// 新的设计规范中的 token 定义

//业务色
@color-brand-1: #1677ff; //品牌色
@color-brand-2: #e7f1ff;
@color-red-1: #f93a4a; //正红
@color-red-2: #ffeeef;
@color-pink-1: #ff6565; //粉红
@color-pink-2: #ffeeee;
@color-tangerine-1: #ff6010; //橘红
@color-tangerine-2: #ffece3;
@color-orange-1: #ff8f1f; //橘黄
@color-orange-2: #ffefdf;
@color-golden-1: #c19030; //金黄
@color-golden-2: #fff3d9;
@color-golden-3: #fff9ed;
@color-pomonagreen-1: #0abc80; //嫩绿
@color-pomonagreen-2: #d4fff1;
@color-darkgreen-1: #00bfd0; //青绿
@color-darkgreen-2: #ddfcff;
@color-skybule-1: #00b7f4; //天蓝
@color-skybule-2: #e0f7ff;
@color-royallight-1: #4876ff; //篮紫
@color-royallight-2: #ebefff;
@color-purple-1: #5260ff; //紫色
@color-purple-2: #edeeff;
@color-ironblack-1: #454955; //铁黑
@color-ironblack-2: #f1f1f1;

//背景色
@color-fill-primary: @color-brand-1; //主色
@color-fill-primary-light: @color-brand-2; //主色-浅
@color-fill-warning: #ff3b30; //警告色
@color-fill-grey-base: #ccc; //灰阶基础
@color-fill-grey-dark: #333; //灰阶-深
@color-fill-grey-light: #f5f5f5; //灰阶-浅
@color-fill-grey-inverse: #fff; //灰阶-反色
@color-divider-line: rgba(0, 0, 0, 0.08); //分割线
@color-divider-background: hsla(0, 0%, 0%, 0.05); //分隔背景
@color-product-mask: rgba(0, 0, 0, 0.75); //产品蒙层
@color-marketing-mask: rgba(0, 0, 0, 0.5); //营销蒙层

//文字色
@color-text-primary: @color-brand-1; //主色
@color-text-primary-light: @color-brand-2; //主色-浅
@color-text-warning: #ff3b30; //警告色
@color-text-title: #333; //主标题
@color-text-subtitle: #999; //副标题
@color-text-weak: #ccc; //弱文案
@color-text-base: #fff; //基础色

//不透明度
@opacity-disabled: 0.4; //不透明度

//字体字号
@font-size-stress: 54px * @pixelSize; //页面核心强调
@font-size-title: 36px * @pixelSize; //大标题
@font-size-list: 34px * @pixelSize; //列表
@font-size-subtitle: 30px * @pixelSize; //小标题
@font-size-content: 26px * @pixelSize; //常规内容
@font-size-subcontent: 24px * @pixelSize; //次常规内容
@font-size-weak: 22px * @pixelSize; //弱化内容和弱辅助文案

//数字(数字常规字号跟文字一样，以下为特殊场景使用)
@font-family-alipay-number: DIN PRO;
@font-size-amount-core: 110px * @pixelSize; //核心大金额
@font-size-amount-largenumber: 90px * @pixelSize; //大数字金额
@font-size-amount-large: 60px * @pixelSize; //大金额
@font-size-number-keyboard: 50px * @pixelSize; //数字键盘

//行高
@line-height-base: 1; // 单行行高
@line-height-paragraph: 1.5; // 多行行高

//圆角
@corner-radius-sm: 4px * @pixelSize; //小
@corner-radius-md: 8px * @pixelSize; //中
@corner-radius-lg: 16px * @pixelSize; //大
@corner-radius-circle: 50vh; //圆

//尺寸
@size-base: 8px * @pixelSize; //基础
@size-0: 0;
@size-1: @size-base * 1;
@size-2: @size-base * 2;
@size-3: @size-base * 3;
@size-4: @size-base * 4;
@size-5: @size-base * 5;
@size-6: @size-base * 6;
@size-7: @size-base * 7;
@size-8: @size-base * 8;
@size-9: @size-base * 9;
@size-10: @size-base * 10;
@size-11: @size-base * 11;
@size-12: @size-base * 12;
@size-13: @size-base * 13;
@size-14: @size-base * 14;
@size-15: @size-base * 15;
@size-16: @size-base * 16;
@size-17: @size-base * 17;
@size-18: @size-base * 18;
@size-19: @size-base * 19;
@size-20: @size-base * 20;

//间距
//水平间距
@h-spacing-standard: 16px * @pixelSize; //标准
@h-spacing-large: 24px * @pixelSize; //大间距

//垂直间距
@v-spacing-standard: 16px * @pixelSize; //标准
@v-spacing-large: 24px * @pixelSize; //大间距

//边框尺寸
@border-width-standard: 1px; //标注
@border-width-thick: 2px; //粗

//图标尺寸
@icon-size-sm: 44px * @pixelSize; //小
@icon-size-md: 56px * @pixelSize; //中
@icon-size-lg: 60px * @pixelSize; //大

:root,
page {
  /* 业务色 */
  --am-color-brand-1: @color-brand-1;
  --am-color-brand-2: @color-brand-2;
  --am-color-red-1: @color-red-1;
  --am-color-red-2: @color-red-2;
  --am-color-pink-1: @color-pink-1;
  --am-color-pink-2: @color-pink-2;
  --am-color-tangerine-1: @color-tangerine-1;
  --am-color-tangerine-2: @color-tangerine-2;
  --am-color-orange-1: @color-orange-1;
  --am-color-orange-2: @color-orange-2;
  --am-color-golden-1: @color-golden-1;
  --am-color-golden-2: @color-golden-2;
  --am-color-golden-3: @color-golden-3;
  --am-color-pomonagreen-1: @color-pomonagreen-1;
  --am-color-pomonagreen-2: @color-pomonagreen-2;
  --am-color-darkgreen-1: @color-darkgreen-1;
  --am-color-darkgreen-2: @color-darkgreen-2;
  --am-color-skybule-1: @color-skybule-1;
  --am-color-skybule-2: @color-skybule-2;
  --am-color-royallight-1: @color-royallight-1;
  --am-color-royallight-2: @color-royallight-2;
  --am-color-purple-1: @color-purple-1;
  --am-color-purple-2: @color-purple-2;
  --am-color-ironblack-1: @color-ironblack-1;
  --am-color-ironblack-2: @color-ironblack-2;

  /* 背景色 */
  --am-color-fill-primary: @color-fill-primary;
  --am-color-fill-primary-light: @color-fill-primary-light;
  --am-color-fill-warning: @color-fill-warning;
  --am-color-fill-grey-base: @color-fill-grey-base;
  --am-color-fill-grey-dark: @color-fill-grey-dark;
  --am-color-fill-grey-light: @color-fill-grey-light;
  --am-color-fill-grey-inverse: @color-fill-grey-inverse;
  --am-color-divider-line: @color-divider-line;
  --am-color-divider-background: @color-divider-background;
  --am-color-product-mask: @color-product-mask;
  --am-color-marketing-mask: @color-marketing-mask;

  /* 文字色 */
  --am-color-text-primary: @color-text-primary;
  --am-color-text-primary-light: @color-text-primary-light;
  --am-color-text-warning: @color-text-warning;
  --am-color-text-title: @color-text-title;
  --am-color-text-subtitle: @color-text-subtitle;
  --am-color-text-weak: @color-text-weak;
  --am-color-text-base: @color-text-base;

  /* 不透明度 */
  --am-opacity-disabled: @opacity-disabled;

  /* 字体字号 */
  --am-font-size-stress: @font-size-stress;
  --am-font-size-title: @font-size-title;
  --am-font-size-list: @font-size-list;
  --am-font-size-subtitle: @font-size-subtitle;
  --am-font-size-content: @font-size-content;
  --am-font-size-subcontent: @font-size-subcontent;
  --am-font-size-weak: @font-size-weak;

  /* 数字 */
  --am-font-family-alipay-number: @font-family-alipay-number;
  --am-font-size-amount-core: @font-size-amount-core;
  --am-font-size-amount-largenumber: @font-size-amount-largenumber;
  --am-font-size-amount-large: @font-size-amount-large;
  --am-font-size-number-keyboard: @font-size-number-keyboard;

  /* 行高 */
  --am-line-height-base: @line-height-base;
  --am-line-height-paragraph: @line-height-paragraph;

  /* 圆角 */
  --am-corner-radius-sm: @corner-radius-sm;
  --am-corner-radius-md: @corner-radius-md;
  --am-corner-radius-lg: @corner-radius-lg;
  --am-corner-radius-circle: @corner-radius-circle;

  /* 尺寸 */
  --am-size-0: @size-0;
  --am-size-1: @size-1;
  --am-size-2: @size-2;
  --am-size-3: @size-3;
  --am-size-4: @size-4;
  --am-size-5: @size-5;
  --am-size-6: @size-6;
  --am-size-7: @size-7;
  --am-size-8: @size-8;
  --am-size-9: @size-9;
  --am-size-10: @size-10;
  --am-size-11: @size-11;
  --am-size-12: @size-12;
  --am-size-13: @size-13;
  --am-size-14: @size-14;
  --am-size-15: @size-15;
  --am-size-16: @size-16;
  --am-size-17: @size-17;
  --am-size-18: @size-18;
  --am-size-19: @size-19;
  --am-size-20: @size-20;

  /* 水平间距 */
  --am-h-spacing-standard: @h-spacing-standard;
  --am-h-spacing-large: @h-spacing-large;

  /* 垂直间距 */
  --am-v-spacing-standard: @v-spacing-standard;
  --am-v-spacing-large: @v-spacing-large;

  /* 边框尺寸 */
  --am-border-width-standard: @border-width-standard;
  --am-border-width-thick: @border-width-thick;

  /* 图标尺寸 */
  --am-icon-size-sm: @icon-size-sm;
  --am-icon-size-md: @icon-size-md;
  --am-icon-size-lg: @icon-size-lg;

  // 上述是全局变量，对于组件变量需要按照以下格式写注释
  // /* component */
  // /* type | description */
  // - component 是组件名
  // - type 是变量类型, 目前有 [color, font-size, line-height, corner-radius, size, spacing, border-width, icon-size]
  // - description 是变量描述，用于在 Yan 平台展示
  // @example
  // /* button */
  // /* corner-radius | 按钮圆角 */
  // --am-button-corner-radius: var(--am-corner-radius-md);
  // /* color | 按钮背景色 */
  // --am-button-background: var(--am-color-fill-primary);

  /* notice */
  /* size | 上下内间距 */
  --am-notice-paddingV: var(--am-v-spacing-standard);
  /* size | 左右内间距 */
  --am-notice-paddingH: var(--am-h-spacing-large);
  /* color | 文字和 icon 颜色 */
  --am-notice-color: var(--am-color-tangerine-1);
  /* color | 背景色 */
  --am-notice-bgc: var(--am-color-golden-3);
  /* size | 边框尺寸 */
  --am-notice-borderWidth: var(--am-border-width-standard);
  /* color | 边框颜色 */
  --am-notice-borderColor: var(--am-color-golden-2);
  /* corner-radius | 圆角 */
  --am-notice-borderRadius: var(--am-corner-radius-lg);
  /* size | icon 右外边距 */
  --am-notice-thumb-marginRight: var(--am-h-spacing-standard);
  /* font-size | 文字大小 */
  --am-notice-content-fontSize: var(--am-font-size-subtitle);
  /* size | 内容行高 */
  --am-notice-content-lineHeight: var(--am-line-height-paragraph);
  /* size | 右侧文字大小 */
  --am-notice-operation-FontSize: var(--am-font-size-subtitle);
  /* color | 右侧文字颜色 */
  --am-notice-operation-color: var(--am-color-text-warning);
  /* size | 右侧文字左外边距 */
  --am-notice-operation-marginLeft: var(--am-h-spacing-standard);

  /* title */
  /* size | 底内间距 */
  --am-title-paddingB: var(--am-v-spacing-large);
  /* size | 底外边距 */
  --am-title-marginBottom: var(--am-v-spacing-large);
  /* size | 底边线尺寸 */
  --am-title-borderWidth: var(--am-border-width-standard);
  /* color | 底边线颜色 */
  --am-title-borderColor: var(--am-color-divider-line);
  /* font-size | 标题文字大小 */
  --am-title-text-fontSize: var(--am-font-size-subtitle);
  /* color | 标题文字颜色 */
  --am-title-text-color: var(--am-color-text-title);
  /* size | icon 宽度 */
  --am-title-icon-width: var(--am-size-6);
  /* size | icon 高度 */
  --am-title-icon-height: var(--am-size-6);
  /* size | icon 右间距 */
  --am-title-icon-marginRight: var(--am-h-spacing-standard);
  /* size | action 区宽度 */
  --am-operation-icon-width: var(--am-size-6);
  /* size | action 区高度 */
  --am-operation-icon-height: var(--am-size-6);
  /* size | action 区行高 */
  --am-title-operation-lineHeight: var(--am-size-6);
  /* size | action 区左间距 */
  --am-title-operation-marginLeft: var(--am-h-spacing-standard);
  /* color | action 区箭头 icon 颜色 */
  --am-title-arrow-right-color: var(--am-color-text-weak);
  /* color | action 区关闭 icon 颜色 */
  --am-title-close-color: var(--am-color-text-weak);
  /* color | action 区更多 icon 颜色 */
  --am-title-more-color: var(--am-color-text-weak);

  /* container */
  /* corner-radius | 容器圆角 */
  --am-container-corner-radius: var(--am-corner-radius-lg);
  /* corner-radius | 容器子元素圆角 */
  --am-container-item-corner-radius: var(--am-corner-radius-lg);
  /* color | 容器背景色 */
  --am-container-background: var(--am-color-fill-grey-inverse);
  /* spacing | 容器垂直间距 */
  --am-container-padding-v: var(--am-v-spacing-large);
  /* spacing | 容器水平间距 */
  --am-container-padding-h: var(--am-h-spacing-large);
  /* spacing | 容器元素间距 */
  --am-container-padding-item: var(--am-v-spacing-standard);

  /* button */
  /* size | 按钮内间距 */
  --am-button-padding: var(--am-size-3);
  /* corner-radius  | 按钮圆角 */
  --am-button-corner-radius: var(--am-corner-radius-md);
  /* size | 双行按钮内间距 */
  --am-button-doubleline-padding: var(--am-size-2);
  /* font-size | 副标题字号 */
  --am-button-subtitle-size: var(--am-font-size-subcontent);
  /* color | 按钮边框宽度 */
  --am-button-border-size: var(--am-border-width-standard);
  /* opacity | disable状态不透明度 */
  --am-button-disabled-opacity: var(--am-opacity-disabled);
  /* color | 默认按钮文字色 */
  --am-button-color: var(--am-color-fill-grey-dark);
  /* color | 默认按钮背景色 */
  --am-button-background: var(--am-color-fill-grey-inverse);
  /* color | 默认按钮边框色 */
  --am-button-border-color: var(--am-color-divider-line);
  /* color |  primary按钮背景色 */
  --am-button-primary-background: var(--am-color-fill-primary);
  /* color |  primary按钮边框色 */
  --am-button-primary-border-color: var(--am-color-fill-primary);
  /* color |  primary按钮文字色 */
  --am-button-primary-color: var(--am-color-text-base);
  /* color |  ghost按钮边框色 */
  --am-button-ghost-border-color: var(--am-color-fill-primary);
  /* color |  ghost按钮文字色 */
  --am-button-ghost-color: var(--am-color-text-primary);
  /* color |  warn按钮背景色 */
  --am-button-warn-background: var(--am-color-fill-warning);
  /* color |  warn按钮边框色 */
  --am-button-warn-border-color: var(--am-color-fill-warning);
  /* color |  warn按钮文字色 */
  --am-button-warn-color: var(--am-color-text-base);
  /* color |  warn-ghost按钮边框色 */
  --am-button-warn-ghost-border-color: var(--am-color-fill-warning);
  /* color |  warn-ghost按钮文字色 */
  --am-button-warn-ghost-color: var(--am-color-text-warning);
  /* color |  light按钮背景色 */
  --am-button-light-background: var(--am-color-brand-2);
  /* color |  light按钮边框色 */
  --am-button-light-border-color: var(--am-color-brand-2);
  /* color |  light按钮文字色 */
  --am-button-light-color: var(--am-color-text-primary);
  /* color |  text按钮文字色 */
  --am-button-text-color: var(--am-color-fill-primary);
  /* size | 胶囊按钮圆角 */
  --am-button-capsule-corner: var(--am-corner-radius-circle);
  /* size | 胶囊按钮水平内间距 */
  --am-button-capsule-padding-h: var(--am-size-3);
  /* size | 胶囊按钮垂直内间距 */
  --am-button-capsule-padding-v: var(--am-size-1);
  /* font-size | 胶囊按钮大字号 */
  --am-button-capsule-size-l: var(--am-font-size-subtitle);
  /* font-size | 胶囊按钮中字号 */
  --am-button-capsule-size-m: var(--am-font-size-content);
  /* font-size | 胶囊按钮小字号 */
  --am-button-capsule-size-s: var(--am-font-size-subcontent);
}
