.am-tabs {
  &-tab-bar-wrap {
    width: 100%;
  }

  &-bar {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
    overflow: hidden;
    padding: 0 12px;
    box-sizing: border-box;
  }

  &-scroll-left {
    width: 36px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0)) left no-repeat;
    background-size: 100%;
    pointer-events: none;
  }

  &-scroll-right {
    width: 36px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0)) left no-repeat;
    background-size: 100%;
    pointer-events: none;
  }

  &-bar-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  &-plus {
    display: none;
  }

  &-plus.show {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }

  &-bar-content-wrap {
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
  }

  &-bar-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    font-size: 16px;
    white-space: nowrap;
    &-capsule {
      padding: 0 12px;
      box-sizing: border-box;
    }
  }

  &-bar-title {
    position: relative;
    display: flex;
    margin-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    box-sizing: border-box;
    &__noMargin {
      margin-right: 0;
    }
  }
  &-bar-capsule-title {
    border-radius: 20px;
    background-color: #F5F5F5;
  }

  &-bar-badge.dot {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(8px);
  }

  &-bar-badge.text {
    position: absolute;
    top: 0;
    right: 2px;
    transform: translateX(100%);
    height: 16px;
  }

  &-content-wrap {
    margin-top: 1px;
    display: flex;
    background: #fff;
    flex-direction: row;
    overflow: hidden;
    height: auto;
  }

  &-content-wrap.fix {
    height: auto !important;
  }

  &-slides {
    display: flex;
    transition-duration: 500ms;
  }
}
