@import (reference) "../style/themes/default.less";

@font-face {
  font-family: "antui-icon";
  src: url('https://gw.alipayobjects.com/os/basement_prod/440fdebb-8491-4081-9ed6-f78a42c15993.ttf?v=20191120') format('truetype');
}

.fn_am-icon(@arrow-custom-color: --am-icon-color, @color: inherit) {
  /* stylelint-disable font-family-no-missing-generic-family-keyword */
  font-family: "antui-icon" !important;
  font-size: @font-size-list;
  font-size: var(--am-icon-size, @font-size-list);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: @color;
  color: var(@arrow-custom-color, @color);
}
.am-icon {
  .fn_am-icon();
}

// qr
.am-icon-qr:before {
  content: "\e602";
}

// gift
.am-icon-gift:before {
  content: "\e603";
}

// send
.am-icon-send:before {
  content: "\e604";
}

// pic
.am-icon-pic:before {
  content: "\e605";
}

// add
.am-icon-add:before {
  content: "\e606";
}

// file
.am-icon-file:before {
  content: "\e607";
}

// text
.am-icon-text:before {
  content: "\e608";
}

// minus
.am-icon-minus:before {
  content: "\e609";
}

// collectMoney
.am-icon-collectMoney:before {
  content: "\e60a";
}

// wallet
.am-icon-wallet:before {
  content: "\e60b";
}

// scan
.am-icon-scan:before {
  content: "\e60c";
}

// receipt
.am-icon-receipt:before {
  content: "\e60d";
}

// down
.am-icon-down:before {
  content: "\e60e";
}

// receipt1
.am-icon-receipt1:before {
  content: "\e60f";
}

// trash
.am-icon-trash:before {
  content: "\e610";
}

// receipt2
.am-icon-receipt2:before {
  content: "\e611";
}

// phonebook
.am-icon-phonebook:before {
  content: "\e613";
}

// scanning
.am-icon-scanning:before {
  content: "\e614";
}

// content
.am-icon-content:before {
  content: "\e615";
}

// home
.am-icon-home:before {
  content: "\e616";
}

// refresh
.am-icon-refresh:before {
  content: "\e617";
}

// play
.am-icon-play:before {
  content: "\e618";
}

// warning
.am-icon-warning:before {
  content: "\e619";
}

// money
.am-icon-money:before {
  content: "\e61a";
}

// link
.am-icon-link:before {
  content: "\e61b";
}

// zoomOut
.am-icon-zoomOut:before {
  content: "\e61c";
}

// koubei
.am-icon-koubei:before {
  content: "\e61d";
}

// location
.am-icon-location:before {
  content: "\e61e";
}

// font
.am-icon-font:before {
  content: "\e61f";
}

// time
.am-icon-time:before {
  content: "\e620";
}

// chatAdd
.am-icon-chatAdd:before {
  content: "\e621";
}

// warn
.am-icon-warn:before {
  content: "\e622";
}

// help1
.am-icon-help1:before {
  content: "\e624";
}

// del
.am-icon-del:before {
  content: "\e625";
}

// selected
.am-icon-selected:before {
  content: "\e626";
}

// search
.am-icon-search:before {
  content: "\e627";
}

// global
.am-icon-global:before {
  content: "\e628";
}

// chat
.am-icon-chat:before {
  content: "\e629";
}

// contacts
.am-icon-contacts:before {
  content: "\e62a";
}

// miniApp
.am-icon-miniApp:before {
  content: "\e62b";
}

// help
.am-icon-help:before {
  content: "\e62d";
}

// friendSetting
.am-icon-friendSetting:before {
  content: "\e62f";
}

// setting
.am-icon-setting:before {
  content: "\e630";
}

// like
.am-icon-like:before {
  content: "\e631";
}

// ant
.am-icon-ant:before {
  content: "\e632";
}

// alipay
.am-icon-alipay:before {
  content: "\e633";
}

// add1
.am-icon-add1:before {
  content: "\e634";
}

// close
.am-icon-close:before {
  content: "\e635";
}

// more
.am-icon-more:before {
  content: "\e636";
}

// zoom
.am-icon-zoom:before {
  content: "\e637";
}

// wealth
.am-icon-wealth:before {
  content: "\e638";
}

// collect
.am-icon-collect:before {
  content: "\e639";
}

// voice
.am-icon-voice:before {
  content: "\e63a";
}

// good
.am-icon-good:before {
  content: "\e63b";
}

// mute
.am-icon-mute:before {
  content: "\e63c";
}

// pepole
.am-icon-pepole:before {
  content: "\e63d";
}

// addFriends
.am-icon-addFriends:before {
  content: "\e63e";
}

// downland
.am-icon-downland:before {
  content: "\e63f";
}

// sad
.am-icon-sad:before {
  content: "\e640";
}

// person
.am-icon-person:before {
  content: "\e641";
}

// arrow-left
.am-icon-arrow-left:before {
  content: "\e642";
}

// arrow-right
.am-icon-arrow-right:before {
  content: "\e643";
}

// eye-open
.am-icon-eye-open:before {
  content: "\e644";
}

// eye-close
.am-icon-eye-close:before {
  content: "\e645";
}
