@import '../../style/themes/default.less';

.am-tips-dialog {
  position: relative;
  height: 55px;
  width: 100%;
  padding: 0 6px;
  box-sizing: border-box;
  font-size: @font-size-subtitle;
  font-size: var(--am-tips-plain-font-size, @font-size-subtitle);

  &-wrap {
    display: flex;
    align-items: center;
    background: @color-fill-grey-dark;
    background: var(--am-tips-dialog-bg-color, @color-fill-grey-dark);
    box-shadow: 0 4px 10px 0 rgba(51, 51, 51, 0.20);
    border-radius: @corner-radius-lg;
    border-radius: var(--am-tips-dialog-border-radius, @corner-radius-lg);
    padding: 0 @h-spacing-large;
    padding: 0 var(--am-tips-dialog-padding, @h-spacing-large);
    height: 100%;
  }

  &-wrap::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 40px;
    margin-left: -8px;
    width: 1px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 9px solid @color-fill-grey-dark;
    border-top: 9px solid var(--am-tips-dialog-bg-color, @color-fill-grey-dark);
  }

  &-wrap &-rectangle {
    padding: 0 16px 0 6px;
  }

  &-wrap::before &-rectangle {
    display: none;
  }

  &-close {
    position: relative;
    width: 15px;
    height: 15px;
  }
  &-close:before,
  &-close:after {
    position: absolute;
    left: 7px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: @color-fill-grey-base;
    background-color: var(--am-tips-dialog-close-btn-color, @color-fill-grey-base);
  }
  &-close:before {
    transform: rotate(45deg);
  }
  &-close:after {
    transform: rotate(-45deg);
  }
  &-close-container {
    margin-left: @h-spacing-large;
    margin-left: var(--am-tips-dialog-close-btn-spacing, @h-spacing-large);
    padding-top: 12px;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    // margin-right: 11px;
    // height: 20px;
    // width: 20px;
    // background-image: url(https://gw.alipayobjects.com/zos/rmsportal/YtkqfRVfNxhpKWnrJRUJ.png);
    // background-size: 50%;
    // background-position: center;
    // background-repeat: no-repeat;
  }

  &-icon {
    height: @size-9;
    height: var(--am-tips-dialog-image-size, @size-9);
    width: @size-9;
    width: var(--am-tips-dialog-image-size, @size-9);
    background-color: @color-fill-grey-inverse;
    background-color: var(--am-tips-dialog-icon-bg-color, @color-fill-grey-inverse);
    border-radius: 2px;
    margin-right: 9px;
  }

  &-icon .a-image {
    height: @size-9;
    height: var(--am-tips-dialog-image-size, @size-9);
    width: @size-9;
    width: var(--am-tips-dialog-image-size, @size-9);
  }

  &-content {
    flex: 1;
  }
}
