@import (reference) "../style/themes/default.less";

.am-stepper {
  &-content {
    display: flex;
    position: relative;
    height: 22px;
    overflow: hidden;
    font-size: 15px;
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: @corner-radius-sm;
    box-sizing: border-box;
  }
  &-input {
    width: 100%;
    min-width: 21px;
    height: 21px;
    padding: 0;
    margin: 0 8px;
    line-height: 21px;
    text-align: center;
    font-size: 15px;
    color: #333;
    border: 0 none;
    background-color: transparent;
    &-hide {
      visibility: hidden;
    }
  }
  &-option {
    display: flex;
    flex: 0 0 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    box-sizing: border-box;
  }
  &-reduce {
    position: relative;
    transform: translate(-1px, -1px);
    &::before {
      content: "";
      display: inline-block;
      width: 9px;
      height: 1px;
      overflow: hidden;
      background-color: #1677FF;
      border-radius: 5vh;
    }
  }
  &-add {
    transform: translate(1px, -1px);
  }
}
