@import "../style/mixins/hairline.less";

.am-verify-code {
  &-item {
    display: flex;
    align-items: center;
    background: var(--am-verify-code-item-background);
    padding-left: var(--am-verify-code-item-padding-left);

    .a-input-content {
      padding-left: 2px;
    }
  }

  &-line {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: var(--am-verify-code-line-padding-right);
    min-height: var(--am-verify-code-line-min-height);
    overflow: hidden;
    font-size: 17px;
  }

  &-label {
    min-width: var(--am-verify-code-label-min-width);
    margin-right: 2px;
    color: var(--am-verify-code-label-color);
  }

  &-content {
    flex: 1;
    display: flex;
    // height: var(--am-verify-code-content-height);
    color: #000;
    text-align: left;
    padding: 0;
  }

  &-content .a-input-wrap {
    flex: 1;
  }

  &-clear {
    display: flex;
    height: var(--am-verify-code-clear-size);
    width: var(--am-verify-code-clear-size);
    justify-content: center;
    align-items: center;
  }

  &-clear.show {
    visibility: visible;
  }

  &-clear.hidden {
    visibility: hidden;
    pointer-events: none;
  }

  &-line-bottom {
    .hairline("bottom");
  }

  /* 最后一行 */
  &-item.last .am-verify-code-line-bottom::after {
    display: none;
  }
  &-action {
    border-left: var(--am-verify-code-action-border-left);
    padding-left: 15px;
  }
  &-action.active {
    color: var(--am-verify-code-action-active-color);
  }
  &-action.inactive {
    color: var(--am-verify-code-action-inactive-color);
  }
  &-placeholder-base {
    color: var(--am-verify-code-placeholder-color);
  }
}
