@import "../style/mixins/hairline.less";

.am-list {
  &-header,
  &-footer {
    min-height: @size-12;
    min-height: var(--am-list-footer-header-min-height, @size-12);
    display: flex;
    align-items: center;
    color: @color-text-subtitle;
    color: var(--am-list-footer-header-color, @color-text-subtitle);
    padding-left: @h-spacing-large;
    padding-left: var(--am-list-padding, @h-spacing-large);
    padding-right: @h-spacing-large;
    padding-right: var(--am-list-padding, @h-spacing-large);
  }
  &-header {
    font-size: @font-size-subtitle;
    font-size: var(--am-list-header-font-size, @font-size-subtitle);
    line-height: normal;
  }
  &-body {
    position: relative;
    .hairline("top");
    .hairline("bottom");
  }
  &-footer {
    font-size: @font-size-content;
    line-height: normal;
  }
  &-load-more {
    text-align: center;
    background: @color-fill-grey-inverse;
    background: var(--am-list-background, @color-fill-grey-inverse);
    padding: 10px 16px;
    font-size: 15px;
    line-height: 1.4;
    color: @color-fill-grey-dark;
    color: var(--am-list-load-more-color, @color-fill-grey-dark);
    &-txt {
      padding: 0 10px;
    }
  }
  &-load-over {
    display: block;
    padding: 10px 16px;
    font-size: 10px;
    text-align: center;
    color: #ccc;
    text-shadow: 1px 1px #f0f0f0;
  }
}
